{{#md-card-panel id='match-card' class='rl-card'}}
  <div class="rl-card-header">
    <h3>{{title}}</h3>
    {{create-match teams=teams weekNumber=basicTabsSelection onCreate=(action 'createMatch')}}    
  </div>
  <div {{action 'tabClick'}}>
  {{md-tabs
    class='rl-tabs'
    content=basicTabsContent
    selected=basicTabsSelection}}
  </div>
  
  <div class="rl-card-body">
    {{#if matchesByWeek}}
      {{#md-card-collapsible class='rl-collection row'}}
        {{#each matchesByWeek as |match|}}
          {{#md-collapsible title=(get-matchup match.blueTeam.name match.orangeTeam.name (date-formatter null match.matchDate))}}
            {{match-item match=match addGame=(action 'addGame')}}
          {{/md-collapsible}}
        {{/each}}
      {{/md-card-collapsible}}
    {{/if}}
    {{#unless matchesByWeek}}
      <p class="center-align">no matches have been played</p>
    {{/unless}}
  </div>
{{/md-card-panel}}