{{#md-card-panel id='match-card' class='rl-card'}}
  <div class="rl-card-header">
    <h3>{{title}}</h3>
  </div>
  
  <div class="rl-card-body">
    {{create-match onCreate=(action 'createMatch')}}
    {{#md-collection content=matches class='rl-collection' as |match|}}
      <div class="collection-item rl-collection-item avatar">
        <i class="circle light material-icons">games</i>
        <span class="title">{{match.blueTeam.name}} v. {{match.orangeTeam.name}}</span>
        <p>{{match.matchDate}}</p>
      </div>
    {{/md-collection}}
  </div>
{{/md-card-panel}}