{{#md-card-panel id='match-card' class='rl-card'}}
  <div class="rl-card-header">
    <h3>{{title}}</h3>
    {{add-player teams=teams onAdd=(action 'addPlayer')}}
  </div>
  
  <div class="rl-card-body">
    {{#md-table content=players class='bordered' as |player|}}
      {{#md-table-col row=player key='id' header='Player Id'}}
        {{player.id}}
      {{/md-table-col}}
      {{#md-table-col row=player key='username' header='Username'}}
        {{player.username}}
      {{/md-table-col}}
      {{#md-table-col row=player key='firstName' header='Name'}}
        {{player.fullName}}
      {{/md-table-col}}
      {{#md-table-col row=player key='team' header='Team'}}
        {{player.team.name}}
      {{/md-table-col}}
      {{#md-table-col row=player key='lastName' header='Delete'}}
        {{#md-btn
          action='delete'
          actionArg=player.id
          buttonType='flat' 
          class='light'}}X
        {{/md-btn}}
      {{/md-table-col}}
    {{/md-table}}
  </div>
{{/md-card-panel}}